### Scala ###
*.class
*.log

# virtual machine crash logs
hs_err_pid*

### SBT ###
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Metals / Bloop (Scala IDE tools) ###
.metals/
.bloop/
.bsp/
project/.bloop/
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt

### Project specific ###
logs
certs
distrib
